services:
  jobe:
    image: trampgeek/jobeinabox
    container_name: jobe-server
    ports:
      - "4000:80"
    restart: always
    networks:
      - app-network


  review-agent:
    # Context points to the 'review-agent' folder where the Dockerfile is located
    build: review-agent/
    container_name: review-agent
    # Maps host port 8000 to container port 8000
    ports:
      - "8000:8000"
    
    # Loads the GEMINI_API_KEY environment variable from your host system
    environment:
      - TOGETHER_API_KEY=fbbbb52a58ac7353b6caaf5e5f1f39292c6551a5c194a7d3f7b4fdbca57e198c
    
    # Restart the container if it fails
    restart: always
    networks:
      - app-network

  backend:
    build: code-review-backend/
    container_name: spring-backend
    ports:
      - "8080:8080"
    depends_on:
      - jobe
    environment:
      - JOBE_URL=http://jobe-server/jobe/index.php/restapi
      - REVIEW_AGENT_URL=http://review-agent:8000/api/v1/review_code
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge